<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Mytest</title>
	<link rel="stylesheet" href="/mystatic/css/my.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/mystatic/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
	<script type="text/javascript" src="/mystatic/js/jquery.js" charset="utf-8"></script>

	<script type="text/javascript" src="/mystatic/js/sample/main.js"charset="utf-8"></script>
</head>
<body>
	<div id="wrapper">
		<ul>
			<li class="current">
				<a href="#">Free git</a>
			</li>
		</ul>
	</div>
	<div class="row">
		
		<div class="span4">
			dff		
		</div>
		<div class="span8">
			sdsd
		</div>
	</div>
</body>
</html>
